* {
  box-sizing: border-box;
  margin: 0;
}

/* ================================================================
                   PERSONAL INFORMATION
============================================================= */

#pers-info-field {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1.5fr 1.5fr;
  grid-template-areas: "pi1 pi1 pi1 pi2" "pi3 pi3 pi3 ..." "pi4 pi4 pi4 ..." "pi5 pi5 pi5 pi5" "pi6 pi7 pi8 pi9" "pi10 pi10 pi10 pi10";
}

#pi1 {
  grid-area: pi1;
}

#pi2 {
  grid-area: pi2;
}

#pi3 {
  grid-area: pi3;
}

#pi4 {
  grid-area: pi4;
}

#pi5 {
  grid-area: pi5;
}

#pi6 {
  grid-area: pi6;
}

#pi7 {
  grid-area: pi7;
}

#pi8 {
  grid-area: pi8;
}

#pi9 {
  grid-area: pi9;
}

#pi10 {
  grid-area: pi10;
}

/* ================================================================
                   SKILLS AND LOCATION
============================================================= */

#skills-location {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 4fr;
  grid-template-areas: "pd pd" "od lc";
}

#sl-primary-discipline {
  grid-area: pd;
}

#sl-other-discipline {
  grid-area: od;
}

#location {
  grid-area: lc;
}

/* #sl1 {
  grid-area: sl1;
}

#sl2 {
  grid-area: sl2;
}

#sl3 {
  grid-area: sl3;
}

#sl4 {
  grid-area: sl4;
} */

/* ================================================================
                         PORTFOLIO
============================================================= */

#portfolio {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 2fr 1fr;
  grid-template-areas: "pf" "btn";
}

#portfolio-fieldset {
  grid-area: pf;
}

#submit-btn {
  grid-area: btn;
}

/* .......................STYLES......................... */

body {
  font-family: 'Roboto', sans-serif;
  color: #6E757F;
}

main {
  max-width: 70%;
  margin: 0 auto;
  background-color: #454C57;
}

h1,
h3,
h5 {
  color: white;
}

h1,
h5 {
  text-align: center;
}

h1 {
  padding-top: 3rem;
  font-weight: medium;
}

h5 {
  padding: 1.5rem 0 4rem;
  font-weight: normal;
}

h3 {
  margin-left: 15%;
  padding: .8rem;
  font-weight: medium;
}

section {
  max-width: 70%;
  margin: auto;
  border-top: 3px solid #368DB1;
  padding: 1rem 0;
}

input {
  border-color: transparent transparent #6E757F;
}

.pi-label {
  display: inline-block;
  position: relative;
}

.pi-label::after {
  content: "";
  position: absolute;
  top: 105%;
  left: 56%;
  transform: translateX(-50%);
  border-top: 2px solid #6E757F;
  width: 115%;
  height: 100%;
  margin: 0 auto;
  z-index: 2;
}

input {
  background-color: transparent;
}

fieldset {
  border: none;
}